#date {
    fill: white;
    font-family: System-Bold;
    font-size: 20;
    text-anchor: middle;
    text-length: 32;
    x: 50%;
    y: 30%+80;
}

#time {
    fill: white;
    font-family: System-Bold;
    font-size: 50;
    text-anchor: middle;
    text-length: 32;
    x: 50%;
    y: 30%+30;
}

#app.aod #date {
    display: none;
}

#app.aod #time {
    font-family: System-Light;
    font-size: 120;
    y: 50%+40;
}
